@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Plus Jakarta Sans;
}

main,
header {
  padding: 0 160.79px;
}

.btn {
  all: unset;
  padding: 14px 32px;
  cursor: pointer;
  border-radius: 28px;

  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.header {
  margin-top: 38.75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  all: unset;
  cursor: pointer;
  color: #13183f;

  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.btn--primary {
  background: #13183f;
}

.btn--primary:hover {
  background: #666ca3;
}

.main {
  margin: 81px 0;
}

.main__info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main__article--title {
  width: 457px;
  color: #13183f;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.main__article--subtitle {
  width: 445px;
  margin-top: 29px;
  color: #83869a;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.btn--secondary {
  margin-top: 40px;

  background: var(
    --gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
}

.btn--secondary:hover {
  background: var(
    --gradient-1-hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
}

.main__options {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px 30px;
  justify-items: center;
}

.card {
  min-width: 150px;
  max-width: 350px;
  height: 322px;
  position: relative;
  padding: 64px 32px;

  border-radius: 15px;

  border-radius: 15px;
  background: var(--ffffff, #fff);
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
}

.card--info {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;

  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;

  background: var(
    --gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
}

.card img {
  position: absolute;
  top: -20px;
}

.card h3 {
  color: var(--13183-f, #13183f);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.card p {
  margin: 24px 0;

  color: var(--83869-a, #83869a);

  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.card__btn {
  all: unset;

  color: var(--f-74780, #f74780);
  cursor: pointer;

  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 46px 165px;

  background: var(--13183-f, #13183f);
}

footer h1 {
  color: #fff;
}

.btn--third {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
}

.btn--third:hover {
  background: var(
    --gradient-2-hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #4851ff 0%, #f02aa6 100%)
  );
}

@media (max-width: 1400px) {
  main,
  header {
    padding: 0 39px;
  }

  .header__title {
    font-size: 24px;
  }

  .btn {
    padding: 9px 24px;
    font-size: 16px;
  }

  .main__article--title {
    font-size: 40px;
  }

  .main__article--subtitle {
    font-size: 16px;
  }

  .card {
    width: 339px;
  }

  .card--info {
    font-size: 24px;
  }

  .card h3 {
    font-size: 20px;
  }

  .card p {
    font-size: 16px;
  }

  footer {
    padding: 40px 43px;
  }
}

@media (max-width: 1140px) {
  .main__options {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .main__article--title,
  .main__article--subtitle {
    width: 343px;
  }

  .main__options {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 343px;
  }

  .card--info {
    width: 343px;
    height: fit-content;

    padding: 24px 10px;
    font-size: 24px;
  }

  footer {
    padding: 43px 16px;
  }
}
